#banner1{
    background-image: url(/images/banner/banner1.png);
    
}
#banner2{
    background-image: url(/images/banner/banner2.png);
}
#banner3{
    background-image: url(/images/banner/banner3.png);
}